*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
}
body{
    background-color:  #3CBCC3;
}
h3{
    font-size: 3.5rem;
    color: #1D1D2C;
    float: left;
    margin-top: 5px;
    margin-left: 50px;
    padding-right: 40px;
}
/* ----------------------------- */
/* ----------REUSEABLE---------- */
/* ----------------------------- */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* ----------------------------- */
/* --------NAV-BAR DROP--------- */
/* ----------------------------- */
.navbar-header{
    font-size: 2.5rem;
}
.navbar-nav{
    background-color: blueviolet;
    width: 100%;
    height: 60px;
    margin-top: -10px;
    padding: 0px 15px;
}
.navbar-nav i{
    float: left;
    font-size: 3rem;
    margin-top: 15px;
    color: white;
}
.navbar-nav ul{
    float: left;
    margin-top: 5px;
    margin-left: 30px;
}
.navbar-nav ul li{
    float: left;
    list-style: none;
    position: relative;
    margin-top: -7px;
}
.navbar-nav ul li a{
    display: block;
    padding: 20px 15px;
    color: white;
    text-decoration: none;
}

.navbar-nav ul li ul{
    display: none;
    position: absolute;
    background-color: #EBA63F;
    margin-top: 2px;
    margin-left: -10px;
    border-radius: 0px 0px 5px 5px;
}
.navbar-nav ul li:hover ul{
    display: block;
}
.navbar-nav ul li ul li{
    width: 400px;
}
.navbar-nav ul li ul li a{
    padding: 10px 20px;
}
.navbar-nav ul li ul li a:hover{
    color: black;
    background-color: #fff8dc;
}
/* ---------------------------------- */
/* ------------TOPIC QUIZ------------ */
/* ---------------------------------- */
#main-topics--quizzes--list {
    font-size: 2rem;
    background-color: aliceblue;
}

.topic-list ul li{
    text-decoration: none;
    list-style: none;
    padding: 15px 10px;
}
.topic-list ul li a{
    text-decoration: none;
    color: black;
    margin-left:50px;
}
.topic-list ul li a:hover{
    color: red;
}
/* ---------------------------------- */
/* ------------CATEGORY TOPIC------------ */
/* ---------------------------------- */
#animal-topics--quizzes--list {
    font-size: 2rem;
    background-color: aliceblue;
}

.animal-topic--list ul li{
    text-decoration: none;
    list-style: none;
    padding: 15px 10px;
}
.animal-topic--list ul li a{
    text-decoration: none;
    color: black;
    margin-left:50px;
}
.animal-topic--list ul li a:hover{
    color: red;
}

/* ---------------------------------- */
/* ------------LOGIN BOX------------ */
/* ---------------------------------- */
h1{
    font-size: 60px;
    text-align: center;
    margin-top: 30px;
}
.login-box{
    width: 300px;
    padding: 30px;
    transform: translate(200%, 20%);
    text-align: center;
}
header{
    color: white;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 700;
}
.login-box input[type="text"],.login-box input[type="password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #1D1D2C;
    padding: 12px;
    width: 230px;
    border-radius: 14px;
    outline: none;
    color: white;
    transition: 0.50px;
}
.login-box input[type="text"]:focus,.login-box input[type="password"]:focus{
    width: 250px;
    border-color: #EBA63F;
}
.login-box input[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #EBA63F;
    padding: 12px 30px;
    border-radius: 14px;
    outline: none;
    color: #1D1D2C;
    transition: 0.50px;
    cursor: pointer;
}
.login-box input[type="submit"]:hover{
    background-color: #EBA63F;
}
.link-gg {
    color: red;
    background-color: blue;
    width: 250px;
    padding: 15px;
    font-size: 20px;
    border-radius: 14px;
}
.link-gg a{
    color: white;
    margin-left: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    text-decoration: none;
}
/* ------------------------------- */
/* -----------CHECK---------- */
/* ------------------------------- */
.check-anw {
    font-size: 2rem;
    margin: 20px 30px;
    padding: 20px;
    background-color: rgba(247, 244, 233, 0.7);
    border-radius: 10px;
}
.check-anw p{
    margin-left: 20px;
}
/* ------------------------------- */
/* --------MULTIPLE CHOICE-------- */
/* ------------------------------- */
.quizz--multiplechoice {
    font-size: 2rem;
    margin: 20px 30px;
    padding: 20px;
    background-color: rgba(247, 244, 233, 0.7);
    border-radius: 10px;
}
.quizz--multiplechoice input{
    margin-right: 20px;
}
.quizz--multiplechoice p{
    margin-left: 20px;
}
/* ------------------------------- */
/* -----------SUBMIT BOX---------- */
/* ------------------------------- */

.btn{
    font-size: 3rem;
    margin-left: 30px;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
}
.btn:hover{
    background-color: rgba(228, 12, 43, .6);
    color: white;
}